* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element's total height and width */
}

body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #555454;
    padding: 12px;
    margin-top: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.sketch-screen {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr); /* Create grid columns based on grid size */
    grid-template-rows: repeat(var(--grid-size), 1fr); /* Create grid rows based on grid size */
    width: 80%;
    max-width: 960px; /* Maximum width of the grid (adjust as needed) */
    height: auto; /* Automatically adjust height based on content */
    background-color: #bfbfbf;
    justify-content: center; /* Center the grid horizontally */
    gap: 1px; /* Spacing between grid squares */
}

.square {
    background-color: white;
    border: 1px solid black;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
}

.square:hover {
    background-color: #ff0000; /* Change background color on hover */
}
